@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alexandria";
  src: url("./assets/Alexandria-VariableFont_wght.ttf") format("ttf")
}

#root{
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}