@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}


#root {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}